<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Assetory - Landing Page</title>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
     
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="./nord.css">
        <link rel="stylesheet" href="./layout.css">

        <script>
            $(document).ready(function ()
            {
                $('.layout-header').visibility({
                    type: 'fixed'
                });
            });
        </script>

    </head>
    <body>

        <!-- layout start-->
        <div class="layout nord6-bg">
            
            <!-- layout > preheader start-->
            <div class="layout-preheader">

            </div>
            <!-- layout > preheader end -->

            <!-- layout > header start -->
            <div class="ui borderless main menu layout-header">
                <div class="ui container">

                    <!-- layout > header > company-icon start  -->
                    <div class="header item">
                        <img src="https://cdn.assetory.net/images/assetory-icon_dark-512.png">
                    </div>
                    <!-- layout > header > company-icon end -->

                    <!-- layout > header > right-menu start-->
                    <div class="right menu">
                        <a class="item">Link #1</a>
                        <a class="item">Link #2</a>
                    </div>
                    <!-- layout > header > right-menu end -->
                </div>
            </div>
            <!-- layout > header end -->

            <!-- layout > page-content start -->
            <div class="ui text container layout-content">
                
            </div>
            <!-- layout > page-content end -->

            <!-- layout > footer start -->
            <div class="ui inverted vertical footer segment layout-footer nord0-bg">
                <div class="ui center aligned container">

                    <br />

                    <!-- layout > footer > assetory-logo start -->
                    <img src="https://cdn.assetory.net/images/assetory_icon_light-512.png" class="ui centered small image">
                    <!-- layout > footer > assetory-logo end -->

                    <br />

                    <!-- layout > footer > divider start -->
                    <div class="ui horizontal divider">
                        <a href="https:///www.assetory.net" class="nord4-fg">assetory.net</a>
                    </div>
                    <!-- layout > footer > divider end -->

                    <br />

                    <!-- layout > footer > social-links start -->
                    <div class="ui horizontal inverted small link list">
                        <a class="item" href="#">
                            <i class="facebook f icon big nord4-fg"></i>
                        </a>
                        <a class="item" href="#">
                            <i class="twitter f icon big nord4-fg"></i>
                        </a>
                        <a class="item" href="#">
                            <i class="instagram icon big nord4-fg"></i>
                        </a>
                        <a class="item" href="#">
                            <i class="youtube f icon big nord4-fg"></i>
                        </a>
                    </div>
                    <!-- layout > footer > social-links end -->

                    <div class="ui hidden divider"></div>

                    <!-- layout > footer > page-links start -->
                    <div class="ui horizontal inverted small divided link list">
                        <a class="item" href="#">Link #1</a>
                        <a class="item" href="#">Link #2</a>
                        <a class="item" href="#">Link #3</a>
                        <a class="item" href="#">Link #4</a>
                    </div>
                    <!-- layout > footer > page-links end -->

                    <!-- layout > footer > copyright-line start -->
                    <p class="email-copyright nord3-fg">© 2020 Assetory. All rights reserved.</p>
                    <!-- layout > footer > copyright-line start -->

                </div>
            </div>
            <!-- layout > footer end -->

        </div>
        <!-- layout end -->

    </body>
</html>
