
.nord0-fg
{
    color: #2E3440 !important;
}
.nord0-bg
{
    background-color: #2E3440 !important;
}

.nord1-fg
{
    color: #3B4252 !important;
}
.nord1-bg
{
    background-color: #3B4252 !important;
}

.nord2-fg
{
    color: #434C5E !important;
}
.nord2-bg
{
    background-color: #434C5E !important;
}

.nord3-fg
{
    color: #4C566A !important;
}
.nord3-bg
{
    background-color: #4C566A !important;
}

.nord4-fg
{
    opacity: 0.8;
    color: #D8DEE9 !important;
}
.nord4-fg:hover
{
    color: white !important;
}
.nord4-bg
{
    background-color: #D8DEE9 !important;
}

.nord5-fg
{
    color: #E5E9F0 !important;
}
.nord5-bg
{
    background-color: #E5E9F0 !important;
}

.nord6-fg
{
    color: #ECEFF4 !important;
}
.nord6-bg
{
    background-color: #ECEFF4 !important;
}

.nord7-fg
{
    color: #8FBCBB !important;
}
.nord7-bg
{
    background-color: #8FBCBB !important;
}

.nord8-fg
{
    color: #88C0D0 !important;
}
.nord8-bg
{
    background-color: #88C0D0 !important;
}

.nord9-fg
{
    color: #81A1C1 !important;
}
.nord9-bg
{
    background-color: #81A1C1 !important;
}

.nord10-fg
{
    color: #5E81AC !important;
}
.nord10-bg
{
    background-color: #5E81AC !important;
}

.nord11-fg
{
    color: #BF616A !important;
}
.nord11-bg
{
    background-color: #BF616A !important;
}

.nord12-fg
{
    color: #D08770 !important;
}
.nord12-bg
{
    background-color: #D08770 !important;
}

.nord13-fg
{
    color: #EBCB8B !important;
}
.nord13-bg
{
    background-color: #EBCB8B !important;
}

.nord14-fg
{
    color: #A3BE8C !important;
}
.nord14-bg
{
    background-color: #A3BE8C !important;
}

.nord15-fg
{
    color: #B48EAD !important;
}
.nord15-bg
{
    background-color: #B48EAD !important;
}